// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
    margin-top: 4rem;
}

h1 {
    color: #ae3737;
}

p {
    font-size: 1.2rem;
    color: #666;
}